@media only screen and (min-width: 1080px){
    .related{
        width: 65rem;
        padding-left: 10rem;
        background-color: #FBFCFD;
    }
    
    .deals{
        display: flex;
        gap: 20px;
    }
    .heading1{
        font-family: Inter;
        font-size: 32px;
        font-weight: 400;
        line-height: 44px;
        color: #2C384A;
    }
    .card{
        background-color: white;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 333px;
    }
    
    img{
        width: 141px;
        height: 103px;
        margin-left: 5.3rem;
        margin-top: 1.7rem;
        margin-bottom: 2rem;
    }
    .offers{
        display: flex;
        gap: 10px;
    }
    
    .offers p{
        background-color: #F2F4F7;
        color: #074786;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        border-radius: 8px;
        padding: 4px;
        line-height: 24px;
    }
    
    .title{
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #626E79;
        line-height: 24px;
    }
    
    .desc{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #626E79;
        line-height: 24px;
    }
    
    .price{
        display: flex;
        gap: 1rem;
    }
    
    .sprice{
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #5C6874;
    }
    
    .bprice{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #9FA9B3;
        margin-top: 1.56rem;
    }
    
    .discount{
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #EF4C5D;
        margin-top: 1.56rem;
    }
    
    .btn{
        width: 292px;
        height: 48px;
        top: 2163px;
        left: 320px;
        border-radius: 12px;
        background-color: #1B88F4;
        color: white;
        border: none;
    
    }
    
    .newsletter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        margin-top: 3rem;
        width: 67rem;
        margin-left: 2rem;
    }
    
    .news{
        width: 398px;
        height: 88px;
    }
    
    .news p{
        font-family: Inter;
        font-size: 32px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: #5C6874;
    }
    
    .mail{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mail input{
        width: 348px;
        height: 52px;
        font-size: large;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-top: 2rem;
    }
    
    .mail button{
        width: 97px;
        height: 54px;
        margin-top: 2rem;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #1B88F4;
        color: white;
        border: none;
    }
}

@media only screen and (max-width: 768px){
    .related{
        width: 23.5rem;
        background-color: #FBFCFD;
    }
    
    .deals{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .heading1{
        font-family: Inter;
        font-size: 23px;
        font-weight: 400;
        line-height: 44px;
        color: #2C384A;
        margin-left: 10px;
    }
    .card{
        background-color: white;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 291px;
        margin-left: 10px;
    }
    
    img{
        width: 141px;
        height: 103px;
        margin-left: 5.3rem;
        margin-top: 1.7rem;
        margin-bottom: 2rem;
    }
    .offers{
        display: flex;
        gap: 10px;
    }
    
    .offers p{
        background-color: #F2F4F7;
        color: #074786;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        border-radius: 8px;
        padding: 4px;
        line-height: 24px;
    }
    
    .title{
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #626E79;
        line-height: 24px;
    }
    
    .desc{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #626E79;
        line-height: 24px;
    }
    
    .price{
        display: flex;
        gap: 1rem;
    }
    
    .sprice{
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #5C6874;
    }
    
    .bprice{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #9FA9B3;
        margin-top: 1.56rem;
    }
    
    .discount{
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #EF4C5D;
        margin-top: 1.56rem;
    }
    
    .btn{
        width: 292px;
        height: 48px;
        top: 2163px;
        left: 320px;
        border-radius: 12px;
        background-color: #1B88F4;
        color: white;
        border: none;
    
    }
    
    .newsletter{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        margin-top: 3rem;
        width: 40rem;
        margin-left: 1rem;
    }
    
    .news{
        width: 330px;
        height: 88px;
    }
    
    .news p{
        font-family: Inter;
        font-size: 21px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
        color: #5C6874;
    }
    
    .mail{
        display: flex;
        margin-left: 10px;
    }
    
    .mail input{
        width: 220px;
        height: 52px;
        font-size: large;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-top: 2rem;
    }
    
    .mail button{
        width: 97px;
        height: 54px;
        margin-top: 2rem;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #1B88F4;
        color: white;
        border: none;
    }
}